# --- Node ---
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Next.js build ---
.next/
out/

# --- Vercel ---
.vercel

# --- Supabase ---
.supabase

# --- Environment variables ---
.env
.env.*
!.env.example

# --- Logs ---
logs
*.log
*.csv
*.dat
*.pid
*.seed
*.pid.lock

# --- OS ---
.DS_Store
Thumbs.db

# --- IDE / Editor ---
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp

# --- Typescript ---
*.tsbuildinfo

# --- Coverage / Tests ---
coverage
*.lcov
